@{
    ViewData["Title"] = "Home Page";
}

<audio controls preload="auto" class="d-none" id="click">
    <source src="/uploads/click.mp4" type=video/mp4 />
    <source src="/uploads/click.ogg" type=video/mp4 />
</audio>

<div class="text-center container-fluid">
    <div class="cloud-3 cloud-fix">
        <img src="~/uploads/cloud2.png" />
    </div>
    <div class="cloud-1 cloud-fix">
        <img src="~/uploads/cloud2.png" />
    </div>
    <div class="cloud-2 cloud-fix">
        <img src="~/uploads/cloud2.png" />
    </div>
    <div class="cloud-3 cloud-fix">
        <img src="~/uploads/cloud2.png" />
    </div>
    <div class="cloud-4 cloud-fix">
        <img src="~/uploads/cloud2.png" />
    </div>
    <div class="cloud-5 cloud-fix">
        <img src="~/uploads/cloud2.png" />
    </div>
</div>
<div class="modal-set modal-set-2 d-none">
    <div class="modal-2">
        <h1>AYARLAR</h1>
        @*<label>Oyun Süresi</label>
        <input type="text" name="game-time" id ="game-time" value="" />
        <br />*@
        @*<label>Oyun Süresi</label>
        <input type="text" name="game-time" id="game-time" value="" />*@
        <div class="row">
            <div class="btn-div col-lg-6">
                <a class="btn btn-success game-btn game-save" style="cursor:pointer;"> Kaydet </a>
            </div>
            <div class="btn-div col-lg-6">
                <a class="btn btn-success close-1 game-btn" style="cursor:pointer;"> Kapat </a>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="btn-div col-lg-6">
        <a class="btn btn-success start-btn" style="cursor:pointer;"> Başla </a>
    </div>
    <div class="btn-div col-lg-6">
        <a class="btn btn-success setting-btn" style="cursor:pointer;"> Ayarlar </a>
    </div>
</div>








