
<audio controls preload="auto" class="d-none" id="mySoundClip">   
    <source src="/uploads/shotguntrim4.mp4" type=video/mp4 />
    <source src="/uploads/shotguntrim4.ogg" type=video/mp4/>   
</audio>


<div class="row" style="position:absolute;">
    <div class="score col-lg-10">
        <p>Score : <input type="text" name="ScoreTable" id="scoretable" /></p>
    </div>
    <div class="count col-lg-2">
        <input type="text" name="count" id="count" value="" />
    </div>
</div>
<div class="text-center">
    <div class="cloud-4 cloud-fix">
        <img src="~/uploads/cloud2.png" />
    </div>
    <div class="cloud-3 cloud-fix">
        <img src="~/uploads/cloud2.png" />
    </div>
    <div class="cloud-1 cloud-fix">
        <img src="~/uploads/cloud2.png" />
    </div>
    <div class="cloud-2 cloud-fix">
        <img src="~/uploads/cloud2.png" />
    </div>
    <div class="cloud-3 cloud-fix">
        <img src="~/uploads/cloud2.png" />
    </div>
    <div class="cloud-4 cloud-fix">
        <img src="~/uploads/cloud2.png" />
    </div>
    <div class="cloud-5 cloud-fix">
        <img src="~/uploads/cloud2.png" />
    </div>
    <div class="cloud-5 cloud-fix">
        <img src="~/uploads/cloud2.png" />
    </div>
    <div class="cloud-4 cloud-fix">
        <img src="~/uploads/cloud2.png" />
    </div>
</div>
<body class="test">
    <div class="modal-set d-none">
        <div class="modal-1">
            <h1>OYUN BİTTİ !</h1>
            <br />
            <br />
            <h2>SCORE</h2>
            <input type="text" name="score2" id="score2" value="" />
            <div class="btn-div">
                <a class="btn btn-success start-btn start-btn-2" href="/Home/Index" style="font-size: 20px;">  TEKRAR OYNA  </a>
            </div>
        </div>
    </div>
    <div class="soldiars">
        <img src="~/uploads/ajan.png" class="pahulje" style="animation-duration: 12s;">
        <img src="~/uploads/ajan.png" class="pahulje" style="animation-duration: 12s;left: 80%;">
        <img src="~/uploads/ajan.png" class="pahulje" style="animation-duration: 14s;left: 40%;">
        <img src="~/uploads/ajan.png" class="pahulje" style="animation-duration: 17s;left: 73%;">
        <img src="~/uploads/ajan.png" class="pahulje" style="animation-duration: 20s;left: 30%;">
        <img src="~/uploads/ajan.png" class="pahulje" style="animation-duration: 15s;left: 55%;">
        <img src="~/uploads/ajan.png" class="pahulje" style="animation-duration: 18s;left: 15%;">
        <img src="~/uploads/ajan.png" class="pahulje" style="animation-duration: 12s;">
        <img src="~/uploads/ajan.png" class="pahulje" style="animation-duration: 12s;left: 25%;">
        <img src="~/uploads/ajan.png" class="pahulje" style="animation-duration: 19s;left: 47%;">
        <img src="~/uploads/ajan.png" class="pahulje" style="animation-duration: 16s;left: 67%;">
        <img src="~/uploads/ajan.png" class="pahulje" style="animation-duration: 26s;left: 30%;">
        <img src="~/uploads/ajan.png" class="pahulje" style="animation-duration: 17s;left: 65%;">
        <img src="~/uploads/ajan.png" class="pahulje" style="animation-duration: 23s;left: 35%;">
    </div>

</body>

